@model AssesmentFourFIrstQuestion.Models.Profile

@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<h4>Profile</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                @Html.EditorFor(m=>m.Name)
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                @Html.EditorFor(m=>m.Age)
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualification" class="control-label"></label>
                @Html.EditorFor(m=>m.Qualification)
                <span asp-validation-for="Qualification" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IsEmploid" class="control-label"></label>
                @Html.EditorFor(m=>m.IsEmploid)
                <span asp-validation-for="IsEmploid" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoticePeriod" class="control-label"></label>
                @Html.EditorFor(m=>m.NoticePeriod)
                <span asp-validation-for="NoticePeriod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCTC" class="control-label"></label>
                @Html.EditorFor(m=>m.CurrentCTC)
                <span asp-validation-for="CurrentCTC" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
