@model IEnumerable<AppoloTravels.Models.Allocation>

@{
    ViewData["Title"] = "Index";
}

<style>
    a:hover {
        background-color: darkgrey;
    }
</style>
<h1>Allocated Table </h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EmployeeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DriverContactNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VehicleNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardingPoint)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DriverContactNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleNumber)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AllocationID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AllocationID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AllocationID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
